.cardBG {
    background-color: white;
    width: 100%;
    height: 180px;
    padding: 15px;
    padding-top: 54px;
    border-radius: 18px;
    margin: 18px;
    box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
}

:hover.cardBG{
    transform: scale(1.06);
    transition: 0.3s;
}

.rowShort {
    border-radius: 6px;
    width: 30%;
    height: 18px;
    background-color: lightgray;
    margin-top: 10px;
}

:hover.rowShort{
    transform: translateX(9px) scaleY(1.06);
    opacity: 0.6;
    transition: 0.1s;
}


.rowMed {
    border-radius: 6px;
    width: 60%;
    height: 18px;
    background-color: lightgray;
    margin-top: 18px;
}

:hover.rowMed{
    transform: translateX(9px) scaleY(1.06);
    opacity: 0.6;
    transition: 0.1s;
}


.row {
    border-radius: 6px;
    width: 90%;
    height: 18px;
    background-color: lightgray;
    margin-top: 18px;
}

:hover.row{
    transform: translateX(9px) scaleY(1.06);
    opacity: 0.6;
    transition: 0.1s;
}

