.cardBGSmall {
    background-color: white;
    width: 36%;
    height: 180px;
    padding: 15px;
    padding-top: 54px;
    border-radius: 18px;
    margin: 18px;
}

.rowShortSmall {
    border-radius: 6px;
    width: 30%;
    height: 18px;
    background-color: lightgray;
    margin-top: 10px;
}

.rowMedSmall {
    border-radius: 6px;
    width: 60%;
    height: 18px;
    background-color: lightgray;
    margin-top: 18px;
}

.rowSmall {
    border-radius: 6px;
    width: 90%;
    height: 18px;
    background-color: lightgray;
    margin-top: 18px;
}

